$Secondary-bg-Color: #f6f6f6;
$Main-bg-Color: #EBF5EE;

/*
$Secondary-bg-Color: #0B0C10;
$Main-bg-Color: #1F2833;
*/

$Main-Text-Color: #7C7C7C;
$Secondary-Text-Color: #7C7C7C;

$Accent-Color: #5EB1BF;

