@import url('https://fonts.googleapis.com/css?family=Damion|Montserrat');
//@import url('https://fonts.googleapis.com/css?family=Roboto');

// Container size

$container-size: 70%;

// Experience Section

$line-thickness: 4px;
$line-Color: #dddddd;
$item-line-pos: 100px;

// Colours

$header: #1F2833;
$header-text: white;
$navbar-text: $header-text;

$footer-main: $header;
$footer-secondary: #0B0C10;

$main-text: #7C7C7C;
$sec-text: #7C7C7C;
$accent: #5EB1BF;

$bg: #1F2833;
$bg-secondary: #0B0C10;
$bg-alt: #f6f6f6;

body {
    font-family: 'Montserrat', sans-serif;
}

.page-wrapper{
    padding: 2em;
    margin: 0 auto;
    max-width: $container-size;   
}

section{
    padding: 100px 0;
}

.section-title h2{
    font-size: 1.5em;
    text-align: center;
}

.section-title h3{
    text-align: center;
    font-size: 1.17em;
    color: $accent;
    margin: 10px;
}

.section-hr{
    width: 10%;
    border: 2px solid $bg-secondary;
    margin: 50px auto;
}


/*
html { font-size: 1em; }
h1 { font-size: 2.074em; }
h2 { font-size: 1.728em; }
h3 { font-size: 1.44em; }
h4 { font-size: 1.2em; }
small { font-size: 0.833em; }
.box { padding: 1.25em; }
@media screen and (min-width: 1400px) {
  html { font-size: 1.25em; }
}

*/

